[Desktop Entry]
Name=OmniMindWeChat
Comment=一个本地的微信聊天记录导出和年度报告应用
Exec=/usr/bin/omnimind-wechat %U
Terminal=false
Type=Application
Icon=omnimind-wechat
StartupWMClass=OmniMindWeChat
Categories=Utility;
